- var siteName = "Electrolux Australia";
head
	meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
	title #{siteName} | #{pageTitle}
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(name="description" content="Discover AEG's high quality home & kitchen appliances from cooking, dishcare & refrigeration to laundry. Be inspired to create & enjoy a great experience with us today!")
	meta(name="keywords" content="#{siteName} | #{pageTitle}")
	meta(property="og:title" content="#{siteName} | #{pageTitle}")
	meta(property="twitter:image" content="https://www.aegaustralia.com.au/globalassets/aeg-australia/global/aeg_logo_red_rgb.png")
	meta(property="og:image" content="https://www.aegaustralia.com.au/globalassets/aeg-australia/global/aeg_logo_red_rgb.png")
	meta(property="og:description" content="Discover AEG's high quality home & kitchen appliances from cooking, dishcare & refrigeration to laundry. Be inspired to create & enjoy a great experience with us today!")
	meta(property="og:url" content="https://www.aegaustralia.com.au/")
	meta(property="og:type" content="#{siteName} | #{pageTitle}")
	meta(property="og:site_name")

	meta(name="apple-mobile-web-app-capable" content="yes")
	meta(name="apple-mobile-web-app-status-bar-style" content="#000000")
	meta(name="apple-mobile-web-app-title" content="PWA Splash")
	meta(name="msapplication-TileColor" content="#ffffff")
	meta(name="theme-color" content="#000000")
	meta(name="format-detection" content="telephone=no")
	meta(name="ahrefs-site-verification" content="118dbaefc5ab41c409315288d3beb6ddcc5786228c12fe6ba57abacbc0482f66")

	link(rel="shortcut icon" href="favicon.ico" type="image/x-icon" crossorigin="anonymous")
	link(rel = "canonical" href = "https://electrolux.aeg.local/")
	block critical-css
	block module-css
	//inject-style-main:css
	//endinject